@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.c-loader {
    background-color: rgb(143, 131, 131);
    opacity: 0.2;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;   
}

.c-loader div {
    display: block;
    animation: spin 2s linear infinite;
    position: relative;
    border: 6px solid #eee1e1;
    border-radius: 50%;
    border-top-color: #51d4db;
    top: 50%;
    left: 50%;
    height: 50px;
    width: 50px;
}

.header{
    
    padding-top: 7px;
    background-color: #151515;    
    display: flex;    
    justify-content: space-between;
    align-items: center;
    width: 100%;

    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    
    height: 57px;
    color: white;
}

.name-user{
    width: 200px;
}

.header div span {
    margin-right: 10px;
    font-size: 18px;   
}

.header div span:last-child {
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    .header div span:last-child  {
        margin-right: 0;
    }
  }

.header div:last-child {
    margin-right: 10px;    
}

.register-form {
    width: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.center {    
    margin-left: auto;
    margin-right: auto;
    background-color: red;
}

.login-form {
    width: 300px;
    margin-left: auto;
    margin-right: auto; 

}

.error{
    color: brown;
    font-size: 12px;
}
.search{   
    width: 100%;
    position: fixed;
    top: 55px;    
}

.character-detail{
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 60%
}

@media screen and (max-width: 400px) {
    .character-detail {
      margin-top: 50px;
      width: 100%;
    }
  }

.character-detail .panel-heading div {
    display: inline;
    text-align: center;   
}

.character-detail .panel-heading div:last-child{
    padding-left: 20px;
    font-weight: bold;
    font-size: 16px;
}

.title-comics{    
    font-weight: bold;
    font-size: 16px;    
}

/* Css para Persoagens */

.characters{
    padding-top: 120px;
}

.wrapper {   
    display: grid;    
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 312px);
}

.wrapper .item-grid {
    width: 312px;
    cursor: pointer;    
}

.paginationCustom {
    text-align: center !important;
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
}
