<div ng-include="'templates/header.html'" ng-controller="HeaderController as vm"></div>
<div ng-init="init()" class="character-detail">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div>
                <img ng-src="{{getImageUrl(character)}}" alt="Description" width="100" height="70" />
            </div>
            <div>
                {{ character.name }}
            </div>

        </div>
        <div class="panel-body">
            <div class="title-comics">Revistas: </div>
            <ul class="list-group">
                <li class="list-group-item" dir-paginate="comic in comics | itemsPerPage: itemsPerPage"
                    total-items="totalComics" current-page="currentPage">{{ comic.title }}</li>

            </ul>
            <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
        </div>
    </div>

</div>
<div ng-include="'templates/loadingSpinner.html'" ng-show="loading"></div>