<div class="header" ng-init="init()">
    <div>
        <span><svg viewBox="0 0 36 52" width="39" height="100%" xmlns="http://www.w3.org/2000/svg">
                <rect fill="#EC1D24" width="100%" height="100%"></rect>
                <path fill="#FEFEFE"
                    d="M31.5 48V4H21.291l-3.64 22.735L14.102 4H4v44h8V26.792L15.577 48h4.229l3.568-21.208V48z"></path>
            </svg></span>
    </div>
    <div ng-show="userName !== ''">        
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        <span class="name-user">{{ userName }}</span>
        <span class="glyphicon glyphicon glyphicon-off" aria-hidden="true" ng-click="logout()"></span>
    </div>

</div>